---
import Title from "@components/Title.astro";
import IconoSquare from "@iconos/IconoSquare.astro";
import IconoHouse from "@iconos/IconoHouse.astro";

const titleSectionProps = {
    titulo: "Mapa de Consulta de Fichas de inmuebles urbanos",
    descripcion:
        "El siguiente mapa interactivo, muestra todos los inmuebles catalogados del Centro Histórico de Cusco, divididos por los 09 sectores de gestión delimitados en nuestro mapa por lineas de colores distintivos de cada sector, además el mapa muestra una clasificación de los inmuebles por las categorias de catalogación y la delimitación por área de estructuración.A continuación se describirá los sectores de gestión, categorias de catalogación y las delimitaciones por área de estructuración, para la mejor interacción con el mapa y su información.",
};

const data = [
    {
        seccion: "Sectores de Gestión",
        items: [
            {
                icono: IconoSquare,
                color: "#facc15",
                texto: "SG-01 - Núcleo de Centro Histórico",
            }, // Amarillo
            {
                icono: IconoSquare,
                color: "#fb923c",
                texto: "SG-02 - San Cristóbal",
            }, // Anaranjado
            {
                icono: IconoSquare,
                color: "#ef4444",
                texto: "SG-03 - Santo Domingo y San Agustín",
            }, // Rojo
            {
                icono: IconoSquare,
                color: "#22c55e",
                texto: "SG-04 - San Blas y Rimacpampa",
            }, // Verde
            {
                icono: IconoSquare,
                color: "#b91c1c",
                texto: "SG-05 - Santa Ana",
            }, // Guinda
            {
                icono: IconoSquare,
                color: "#38bdf8",
                texto: "SG-06 - San Pedro",
            }, // Celeste
            {
                icono: IconoSquare,
                color: "#a855f7",
                texto: "SG-07 - Pumacchupan, Av. Pardo y Tres Cruces",
            }, // Lila
            {
                icono: IconoSquare,
                color: "#64748b",
                texto: "SG-08 - Almudena, Belén y Santiago",
            }, // Gris Azulado
            {
                icono: IconoSquare,
                color: "#6b7280",
                texto: "SG-09 - Totorapaccha, Mesa Redonda y Teteqaqa",
            }, // Gris Oscuro
        ],
    },
    {
        seccion: "Características de Catalogación",
        items: [
            {
                icono: IconoHouse,
                color: "#eab308",
                texto: "(PM-I) Inmuebles declarados patrimonio monumental",
            }, // Amarillo Dorado
            {
                icono: IconoHouse,
                color: "#16a34a",
                texto: "(PI-II) Inmuebles con valor o características Patrimoniales Individuales",
            }, // Verde Oscuro
            {
                icono: IconoHouse,
                color: "#3b82f6",
                texto: "(VC-III) Inmuebles con Valor Contextual",
            }, // Azul Vivo
            {
                icono: IconoHouse,
                color: "#9333ea",
                texto: "(EP-IV) Inmuebles con algún elemento artístico y/o patrimonial",
            }, // Púrpura
            {
                icono: IconoHouse,
                color: "#f87171",
                texto: "(SV-V) Inmuebles Sin Valor Patrimonial específico en superficie o predios sin construir",
            }, // Rojo Claro
        ],
    },
    {
        seccion: "Delimitación por Área de Estructuración",
        items: [
            {
                icono: IconoSquare,
                color: "#8b5cf6",
                texto: "AE-I Centro Histórico",
            }, // Violeta Medio
            {
                icono: IconoSquare,
                color: "#4b5563",
                texto: "AE-II Área circundante de protección",
            }, // Gris Plomo
        ],
    },
];
---

<section class="w-full max-w-7xl mx-auto pt-16">
    <Title {...titleSectionProps} />

    <div class="grid grid-cols-12 gap-8 max-w-screen-xl mx-auto mb-4">
        <div class="col-span-5 flex flex-col gap-2 justify-center items-center">
            <img
                src="mapa-catalogacion.webp"
                alt="Municipalidad-foto"
                class="h-80 object-cover"
            />
        </div>
        <div class="col-span-7 flex flex-col gap-2">
            <h3
                class="text-xl text-UrubambaPrimaryColor font-semibold text-center my-2"
            >
                LEYENDA MAPA DE CATALOGACIÓN
            </h3>
            <div
                class="columns-2 gap-2 font-mono text-white text-sm text-center font-bold leading-6 bg-stripes-purple rounded-lg"
            >
                {
                    data.map((section) => (
                        <div
                            class={`flex flex-col px-4 py-2 rounded-lg dark:text-purple-400`}
                        >
                            <span class="font-sans text-base text-UrubambaPrimaryColor font-semibold my-2 text-start">
                                {section.seccion}
                            </span>
                            {section.items.map((item) => (
                                <div class="flex gap-x-10 my-1">
                                    <div class="icono">
                                        <item.icono color={item.color} />
                                    </div>
                                    <div class="font-sans text-base font-normal text-UrubambaPrimaryColor">
                                        {item.texto}
                                    </div>
                                </div>
                            ))}
                        </div>
                    ))
                }
            </div>
        </div>
    </div>
</section>
