---
import Title from "@components/Title.astro";

const titleSectionProps = {
    titulo: "Consulta de Fichas de inmuebles religiosos",
    descripcion:
        "A continuaci贸n, se muestra la lista de los inmuebles religiosos catalogados del Area monumental de Urubamba, en los cuales podremos encontrar su informaci贸n arquitectonica y arqueol贸gica, dividas en fichas de catalogaci贸n.",
};
---

<section class="w-full max-w-7xl mx-auto pt-16">
    <Title {...titleSectionProps} />
</section>
