---
import Title from "@components/Title.astro";
import MapComponent from "../MapComponent";

const titleSectionProps = {
    titulo: "BUSQUEDA DE INFORMACIÓN DE INMUEBLES",
    descripcion:
        "El mapa de catalogación de inmuebles del area monumental de Urubamba, nos brinda información arquitectónica, arqueológica e Histórica de los distintos inmuebles catalogados en el sector 07 de gestión, el mismo que se encontrará accesesible para el público en general. Para el uso del mapa interactivo adecuado, seguiremos los siguientes pasos:",
};
const cardData = [
    {
        titulo: "1",
        contenido: `Debemos de ubicarnos en el inmueble que se desea consultar, para esto primero ubicamos el barrio o sector gestión y luego el inmueble, para ello usted podrá incrementar el zoom de navegación del mapa, asi como tambien deslizarlo a la izquierda y derecha.`,
    },
    {
        titulo: "2",
        contenido: `Una vez que tenemos ubicado el inmueble que deseamos consultar, hacemos click sobre la forma del terreno del predio, el mismo que nos llevará a una ventana que habilitará el botón de "VER MÁS", hacemos click en el para visualizar la información del inmueble.`,
    },
    {
        titulo: "3",
        contenido: `Una vez en la información del inmueble a consultar, podremos observación información arquitectónica, arqueológica e histórica del predio selccionado; esta información correponde a la catalogación realizada en el area monumental de Urubamba.`,
    },
];
---

<section class="w-full max-w-7xl mx-auto pt-16">
    <Title {...titleSectionProps} />

    <div class="grid grid-cols-12 gap-8 max-w-screen-xl mx-auto mb-4">
        {
            cardData.map((card) => (
                <div class="col-span-4 flex flex-col gap-2 justify-center items-center">
                    <div class="p-6 bg-gray-100 bg-opacity-90 rounded-lg w-full">
                        <span class="desc-number mb-4 border-4 border-solid border-[#222222] rounded-full text-[#222222] block font-bold text-2xl text-center leading-[45px] h-[50px] w-[50px]">
                            {card.titulo}°
                        </span>
                        <p
                            class="text-base leading-6 text-gray-600"
                            set:html={card.contenido}
                        />
                    </div>
                </div>
            ))
        }
        <div class="h-[450px] w-full">
            <MapComponent client:only="react" />
        </div>
    </div>
</section>
