---
import Title from "@components/Title.astro";

const titleSectionProps = {
    titulo: "Consulta de Ambientes Urbanos",
    descripcion:
        "A continuación, se muestra la lista de los ambientes urbanos catalogados del área monumental de Urubamba, los cuales hacen referencia a plazas y calles de la lista de nuestro área monumental.",
};
---

<section class="w-full max-w-7xl mx-auto pt-16">
    <Title {...titleSectionProps} />
</section>
