---
import Title from "@components/Title.astro";

const titleSectionProps = {
    titulo: "Consulta de Fichas de inmuebles religiosos",
    descripcion:
        "A continuación, se muestra la lista de los inmuebles religiosos catalogados del Centro Histórico de Cusco, en los cuales podremos encontrar su información arquitectonica y arqueológica, dividas en fichas de catalogación.",
};
---

<section class="w-full max-w-7xl mx-auto pt-16">
    <Title {...titleSectionProps} />
</section>
