---
import Hero from "@components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import CatalogacionAmbientesUrbanosDescripcion from "@components/catalogacion/CatalogacionAmbientesUrbanosDescripcion.astro";

const heroProps = {
    titulo: "Ambientes Urbanos",
    img: "vigen-de-la-o-en-yucay-560x315.webp",
    buttons: [],
};
const data = [
    {
        seccion: "PLAZAS",
        items: [
            {
                titulo: "Plaza mayor de Urubamba",
                link: "/#",
            },
        ],
    },
    {
        seccion: "CALLES",
        items: [
            {
                titulo: "Jirón Mainique (Qhapaq Ñan)",
                link: "/#",
            },
            {
                titulo: "Recorrido de la Procesión del señor de Torrechayoc",
                link: "/#",
            },

            {
                titulo: "Av. Berriozábal",
                link: "/#",
            },
        ],
    },
];
---

<Layout title="Catalogación Urubamba">
    <main class="w-full mx-auto flex flex-col justify-center items-center">
        <Hero {...heroProps} />
        <CatalogacionAmbientesUrbanosDescripcion />
        <div class="w-full max-w-7xl mx-auto pt-16 pb-16">
            {
                data.map((seccion) => (
                    <div class="w-full px-4 py-2">
                        <details class="border-2 border-gray-300 rounded-md">
                            <summary class="p-4 font-semibold cursor-pointer bg-gray-100">
                                {seccion.seccion}
                            </summary>
                            <div class="">
                                <div class="card-body p-5 border border-gray-200 border-t-0">
                                    <div class="row">
                                        <div class="col-12">
                                            <table class="table-auto w-full mb-4 text-gray-900">
                                                <tbody>
                                                    {seccion.items.map(
                                                        (item, index) => (
                                                            <tr>
                                                                <th
                                                                    scope="row"
                                                                    class="p-3 border-t border-gray-300"
                                                                >
                                                                    {index + 1}
                                                                </th>
                                                                <td class="p-3 border-t border-gray-300">
                                                                    <a
                                                                        href={
                                                                            item.link
                                                                        }
                                                                        target="_blank"
                                                                        class="text-sm font-semibold text-[#820e42] transition duration-400 hover:font-bold"
                                                                    >
                                                                        {
                                                                            item.titulo
                                                                        }
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        ),
                                                    )}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </details>
                    </div>
                ))
            }
        </div>
    </main>
</Layout>
