---
import Layout from "../layouts/Layout.astro";
import CatalogacionDescripcion from "@components/catalogacion/CatalogacionDescripcion.astro";
import CatalogacionInformacionInmuebles from "@components/catalogacion/CatalogacionInformacionInmuebles.astro";
import Hero from "@components/Hero.astro";

const heroProps = {
    titulo: "Catalogación de Inmuebles Urbanos",
    img: "/urubamba-plaza.webp",
    buttons: [],
};
---

<Layout title="Catalogación Urubamba">
    <main class="w-full mx-auto flex flex-col justify-center items-center">
        <Hero {...heroProps} />
        <CatalogacionDescripcion />
        <CatalogacionInformacionInmuebles />
    </main>
</Layout>
