---
import Hero from "@components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import CatalogacionInmueblesReligiososDescripcion from "@components/catalogacion/CatalogacionInmueblesReligiososDescripcion.astro";

const heroProps = {
    titulo: "Inmuebles Religiosos",
    img: "https://via.placeholder.com/1400x720",
    buttons: [{ titulo: "Get Started", link: "/start" }],
};
---

<Layout title="Inmuebles Religiosos">
    <main class="w-full mx-auto flex flex-col justify-center items-center">
        <Hero {...heroProps} />
        <CatalogacionInmueblesReligiososDescripcion />
    </main>
</Layout>
