---
import Hero from "@components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import CatalogacionAmbientesUrbanosDescripcion from "@components/catalogacion/CatalogacionAmbientesUrbanosDescripcion.astro";

const heroProps = {
    titulo: "Ambientes Urbanos",
    img: "https://via.placeholder.com/1400x720",
    buttons: [{ titulo: "Get Started", link: "/start" }],
};
---

<Layout title="Catalogación Urubamba">
    <main class="w-full mx-auto flex flex-col justify-center items-center">
        <Hero {...heroProps} />
        <CatalogacionAmbientesUrbanosDescripcion />
    </main>
</Layout>
