---
import Hero from "@components/Hero.astro";
import Layout from "../layouts/Layout.astro";

const heroProps = {
    titulo: "Fototeca",
    img: "/urubamba-plaza.webp",
    buttons: [],
};
---

<Layout title="Inmaterial">
    <main class="w-full mx-auto flex flex-col justify-center items-center">
        <Hero {...heroProps} />
    </main>
</Layout>
