---
import Hero from "@components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import CatalogacionIndex from "@components/index/CatalogacionIndex.astro";
import SectoresGestionIndex from "@components/index/SectoresGestionIndex.astro";
import ComponentesTrabajo from "@components/index/ComponentesTrabajo.astro";
import GaleriaIndex from "@components/index/GaleriaIndex.astro";

const heroProps = {
	titulo: "Welcome to Urubamba Catalogación",
	descripcion:
		"Explore our amazing collection of books, resources, and more. Explore our amazing collection of books, resources, and more. Explore our amazing collection of books, resources, and more.Explore our amazing collection of books, resources, and more. vvExplore our amazing collection of books, resources, and more.Explore our amazing collection of books, resources, and more.Explore our amazing collection of books, resources, and more.Explore our amazing collection of books, resources, and more.Explore our amazing collection of books, resources, and more. Explore our amazing collection of books, resources, and more.Explore our amazing collection of books, resources, and more.Explore our amazing collection of books, resources, and more.",
	img: "https://via.placeholder.com/1400x720",
	buttons: [
		{ titulo: "Get Started", link: "/start" },
		{ titulo: "Get Started 2123", link: "/start" },
		{ titulo: "Get Started", link: "/start" },
		{ titulo: "Learn Mores", link: "/about" },
	],
};
---

<Layout title="Catalogación Urubamba">
	<main class="w-full mx-auto flex flex-col justify-center items-center">
		<Hero {...heroProps} />
		<CatalogacionIndex />
		<SectoresGestionIndex />
		<ComponentesTrabajo />
		<GaleriaIndex />
	</main>
</Layout>
