---
import Hero from "@components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import ComponentesTrabajo from "@components/index/ComponentesTrabajo.astro";
import GaleriaIndex from "@components/index/GaleriaIndex.astro";

const heroProps = {
	titulo: "Catalogación del área monumental de Urubamba",
	descripcion: `“ESTUDIO Y CATALOGACIÓN DE BIENES PATRIMONIALES Y AMBIENTES URBANOS DEL DISTRITO DE URUBAMBA, PROVINCIA DE URUBAMBA, DEPARTAMENTO DE CUSCO”`,
	img: "urubamba-plaza.webp",
	buttons: [
		{ titulo: "Catalogación", link: "/catalogacion" },
		{ titulo: "Patrimonio Inmaterial", link: "/inmaterial" },
	],
};
---

<Layout title="Catalogación Urubamba">
	<main class="w-full mx-auto flex flex-col justify-center items-center">
		<Hero {...heroProps} />
		<ComponentesTrabajo />
		<GaleriaIndex />
	</main>
</Layout>
