---
import Hero from "@components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Title from "@components/Title.astro";
import PdfViewerLibro from "@components/libro/PdfViewerLibro";

const heroProps = {
    titulo: "Area monumental de Urubamba",
    img: "urubamba-plaza.webp",
    buttons: [],
};
---

<Layout title="Catalogación Urubamba">
    <main class="w-full mx-auto flex flex-col justify-center items-center">
        <Hero {...heroProps} />
        <Title titulo="“Area monumental de Urubamba”" descripcion="" />
        <!-- <PdfViewerLibro client:load /> -->
    </main>
</Layout>
