---
const { icono, titulo, contenido } = Astro.props;
---

<div class="p-6 bg-gray-100 bg-opacity-90 rounded-lg">
    <div class="mb-5">
        {icono}
    </div>
    <h3 class="text-lg font-bold mb-2">{titulo}</h3>
    <p class="text-sm leading-6 text-gray-600">{contenido}</p>
</div>
