<header
    class="sticky top-0 z-40 flex-none mx-auto w-full bg-UrubambaPrimaryColor"
>
    <div
        class="py-3 px-3 md:px-6 mx-auto w-full max-w-7xl flex items-center justify-between"
    >
        <div class="">
            <img
                src="https://via.placeholder.com/720x192"
                alt="Logo-Urubamba"
                class="w-44 h-10"
            />
            <div class="flex items-center md:hidden">
                <span> = </span>
            </div>
        </div>
        <nav class="items-center w-auto flex mx-5 justify-self-center">
            <ul class="flex justify-center align-middle items-center">
                <li>
                    <a
                        class="font-bold text-UrubambaWhiteColor px-6 py-3"
                        href="#"
                    >
                        Texto
                    </a>
                </li>
                <li>
                    <a
                        class:list={[
                            "first:rounded-t last:rounded-b md:hover:bg-gray-100 hover:text-link dark:hover:text-white dark:hover:bg-gray-700 py-2 px-5 block whitespace-no-wrap",
                        ]}
                        href="#"
                    >
                        Texto1
                    </a>
                </li>
                <li>
                    <a
                        class:list={[
                            "first:rounded-t last:rounded-b md:hover:bg-gray-100 hover:text-link dark:hover:text-white dark:hover:bg-gray-700 py-2 px-5 block whitespace-no-wrap",
                        ]}
                        href="#"
                    >
                        Texto2
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
