---
import Title from "@components/Title.astro";

const titleSectionProps = {
    titulo: "Mapa de Consulta de Fichas de inmuebles urbanos",
    descripcion: `El siguiente mapa interactivo, muestra todos los inmuebles catalogados del Centro Histórico de Cusco, divididos por los 09 sectores de gestión delimitados en nuestro mapa por lineas de colores distintivos de cada sector, además el mapa muestra una clasificación de los inmuebles por las categorias de catalogación y la delimitación por área de estructuración. <br>A continuación se describirá los sectores de gestión, categorias de catalogación y las delimitaciones por área de estructuración, para la mejor interacción con el mapa y su información.`,
};
---

<section class="w-full max-w-7xl mx-auto pt-16 px-4">
    <Title {...titleSectionProps} />
    <div class="flex flex-col md:flex-row">
        <div
            class="w-full md:basis-1/1 flex justify-center items-center my-8 md:my-0"
        >
            <img
                class="rounded-full h-96 w-64 md:h-64 md:w-64 mx-auto"
                src="http://catalogacion.cusco.gob.pe/assets/img/mapa-sectores-gestion-centro-historico.jpg"
                alt="Mapa de sectores de gestión del centro histórico"
            />
        </div>
    </div>
</section>
