---
import Title from "@components/Title.astro";
import IconoLaptop from "@iconos/IconoLaptop.astro";
import IconoCheck from "@iconos/IconoCheck.astro";
import IconoPen from "@iconos/IconoPen.astro";
import IconoFilm from "@iconos/IconoFilm.astro";

const titleSectionProps = {
    titulo: "COMPONENTES DEL TRABAJO DE LA IOARR",
    descripcion:
        "OPTIMIZACIÓN DEL SISTEMA DE INFORMACIÓN DEL SERVICIO DE CATALOGACIÓN DE INMUEBLES DEL CENTRO HISTÓRICO, DISTRITO DE CUSCO, PROVINCIA CUSCO, DEPARTAMENTO CUSCO",
};

const cardData = [
    {
        icono: IconoLaptop,
        titulo: "1. Componente de Sistemas/GIS",
        contenido:
            "Encargado de la automatización de fichas de catalogación del Centro Histórico del Cusco, mediante el desarrollo de un software de migración de fichas excel a una base de datos; desarrollo del software de catalogación de fichas, verificación de fichas, seguimiento de observaciones, impresión de fichas y preservación de la información; Generación de planimetría según las características de la catalogación y desarrollo del portal web de la catalogación de inmuebles y patrimonio inmaterial.",
        color: "#4c51bf",
    },
    {
        icono: IconoFilm,
        titulo: "2. Componente Social",
        contenido:
            "Se realizó el registro de más de 71 expresiones culturales con la participación de diferentes actores sociales, teniendo como resultado entrevistas a profundidad que nos permiten conocer sus actividades mediante la web y la publicación del libro: “El centro del Cusco: Morada de historia y cultura viva” los saberes y conocimientos de los actores sociales del Centro Histórico del Cusco. Así mismo se genero la producción de videos, fotografías y narraciones de las mismas.",
        color: "#38b2ac",
    },
    {
        icono: IconoCheck,
        titulo: "3. Componente de Verificación",
        contenido:
            "Se cumplió con la actividad que se refiere a la Verificación y contrastación de Fichas impresas y digitales de catalogación en un total 14,256 FICHAS (Ficha de registro Arquitectura, Ficha de registro fotográfico de Arquitectura, Ficha de registro Arqueológico, Ficha de registro fotográfico de Arqueología, Ficha de registro Histórico, Ficha de registro legal, planos y descripciones de ambientes urbanos) de acuerdo a la catalogación de inmuebles urbanos, religiosos y ambientes urbanos del centro histórico del Cusco.",
        color: "#f56565",
    },
    {
        icono: IconoPen,
        titulo: "4. componente de Catalogación",
        contenido:
            "Se cumplió con la elaboración de 50 fichas de catalogación de Inmuebles no Catalogados ANC, priorizando la catalogación de predios en el siguiente orden: declarados monumentos, con valor patrimonial, valor contextual, algún elemento patrimonial; los cuales se ubicaron en los Sectores de Gestión SG-0I Núcleo 5 predios, SG-02 San Cristóbal 7 predios, SG-03 Santo Domingo 3 predios, SG-04 San Blas 11 predios, SG-05 Santa Ana 2 predios, SG-06 San Pedro 10 predios, SG-07 Pumacchupan 11 predios y SG-08 1 predio.",
        color: "#ed64a6",
    },
];
---

<section
    class="w-full mx-auto"
    style="background-image: url('http://catalogacion.cusco.gob.pe/assets/img/fondo-componentes.png'); background-size: cover; background-position: center;"
>
    <div class="max-w-7xl mx-auto my-24">
        <Title {...titleSectionProps} />

        <div class="container mx-auto">
            <div class="grid grid-cols-1 gap-4 md:grid-cols-2 xl:grid-cols-4">
                {
                    cardData.map((card) => (
                        <div class="p-6 bg-gray-100 bg-opacity-90 rounded-lg">
                            <div class="mb-5">
                                <card.icono color={"#000"} size="32px" />{" "}
                            </div>
                            <h3 class="text-lg font-bold mb-2">
                                {card.titulo}
                            </h3>
                            <p class="text-xs leading-4 text-gray-600">
                                {card.contenido}
                            </p>
                        </div>
                    ))
                }
            </div>
        </div>
    </div>
</section>
