---
import Title from "@components/Title.astro";
import IconoLaptop from "@iconos/IconoLaptop.astro";
import IconoCheck from "@iconos/IconoCheck.astro";
import IconoPen from "@iconos/IconoPen.astro";

const titleSectionProps = {
    titulo: "COMPONENTES DEL TRABAJO DE LA FICHA TECNICA",
    descripcion: `“ESTUDIO Y CATALOGACIÓN DE BIENES PATRIMONIALES Y AMBIENTES URBANOS DEL DISTRITO DE URUBAMBA, PROVINCIA DE URUBAMBA, DEPARTAMENTO DE CUSCO”`,
};

const cardData = [
    {
        icono: IconoLaptop,
        titulo: "1. IMPLEMENTACIÓN DE SISTEMAS DE INFORMACIÓN Y SOPORTE DE BASE DE DATOS GEOGRÁFICA, CATALOGACIÓN",
        contenido: `-	Contar con un servidor que registrara la base de datos y entregara la base de datos al público.<br>
-	Resguardar la información.`,
        color: "#4c51bf",
    },
    {
        icono: IconoPen,
        titulo: "2. FORTALECIMIENTO DE CAPACIDADES PARA LA IDENTIFICACIÓN Y EL REGISTRO DE INFORMACIÓN",
        contenido:
            "Se realizó el registro de más de 71 expresiones culturales con la participación de diferentes actores sociales, teniendo como resultado entrevistas a profundidad que nos permiten conocer sus actividades mediante la web y la publicación del libro: “El centro del Cusco: Morada de historia y cultura viva” los saberes y conocimientos de los actores sociales del Centro Histórico del Cusco. Así mismo se genero la producción de videos, fotografías y narraciones de las mismas.",
        color: "#38b2ac",
    },
    {
        icono: IconoCheck,
        titulo: "3. RECOJO Y SISTEMATIZACIÓN DE LA INFORMACIÓN CATALOGACIÓN - INMUEBLES, INMUEBLES RELIGIOSOS Y AMBIENTES URBANOS - FICHAS Y REGISTRO FOTOGRÁFICO",
        contenido:
            "Se cumplió con la actividad que se refiere a la Verificación y contrastación de Fichas impresas y digitales de catalogación en un total 14,256 FICHAS (Ficha de registro Arquitectura, Ficha de registro fotográfico de Arquitectura, Ficha de registro Arqueológico, Ficha de registro fotográfico de Arqueología, Ficha de registro Histórico, Ficha de registro legal, planos y descripciones de ambientes urbanos) de acuerdo a la catalogación de inmuebles urbanos, religiosos y ambientes urbanos del centro histórico del Cusco.",
        color: "#f56565",
    },
];
---

<section
    class="w-full mx-auto"
    style="background-image: url('/urubambabg.png'); background-size: cover; background-position: center;"
>
    <div class="max-w-7xl mx-auto my-24">
        <Title {...titleSectionProps} />

        <div class="container mx-auto">
            <div class="grid grid-cols-1 gap-4 md:grid-cols-2 xl:grid-cols-3">
                {
                    cardData.map((card) => (
                        <div class="p-6 bg-gray-100 bg-opacity-70 rounded-lg">
                            <div class="mb-5">
                                <card.icono color={"#000"} size="32px" />{" "}
                            </div>
                            <h3 class="text-lg font-bold mb-2 leading-6">
                                {card.titulo}
                            </h3>
                            <p
                                class="text-xs leading-4 text-gray-700"
                                set:html={card.contenido}
                            />
                        </div>
                    ))
                }
            </div>
        </div>
    </div>
</section>
