---
import "photoswipe/style.css";
const imagenes = [
    { imagen: "https://via.placeholder.com/1920x820?text=Imagen+1" },
    { imagen: "https://via.placeholder.com/1920x820?text=Imagen+2" },
    { imagen: "https://via.placeholder.com/1920x820?text=Imagen+3" },
    { imagen: "https://via.placeholder.com/1920x820?text=Imagen+4" },
    { imagen: "https://via.placeholder.com/1920x820?text=Imagen+5" },
];
---

<div class="max-w-7xl mx-auto my-24">
    <div class="pswp-gallery grid grid-cols-3 gap-6" id="gallery">
        {
            imagenes.map(({ imagen }, index) => (
                <a
                    key={index}
                    href={imagen}
                    class="rounded-md shadow-xl shadow-UrubambaPrimaryColor/10 hover:shadow-2xl hover:shadow-UrubambaPrimaryColor/45 transition-all overflow-hidden hover:scale-105"
                    target="_blank"
                    data-cropped="true"
                    data-pswp-width="920"
                    data-pswp-height="580"
                >
                    <img
                        src={imagen}
                        alt={`Imagen ${index + 1}`}
                        class="object-cover"
                    />
                </a>
            ))
        }
    </div>
</div>
<script>
    import PhotoSwipeLightbox from "photoswipe/lightbox";
    const lightbox = new PhotoSwipeLightbox({
        gallery: "#gallery",
        children: "a",
        pswpModule: () => import("photoswipe"),
    });
    lightbox.init();
</script>
