---
import "photoswipe/style.css";
const imagenes = [
    { imagen: "/aeropuerto-de-urubamba-560x373.webp" },
    { imagen: "/artesanias.webp" },
    { imagen: "/municipalidad-urubamba-peru.webp" },
    { imagen: "/urubamba-1.webp" },
    { imagen: "/Urubamba-3.webp" },
    { imagen: "/Urubamba-construccion.webp" },
    { imagen: "/Urubamba-plaza2.webp" },
    { imagen: "/vigen-de-la-o-en-yucay-560x315.webp" },
];
---

<div class="max-w-7xl mx-auto my-24">
    <div class="pswp-gallery grid grid-cols-3 gap-6" id="gallery">
        {
            imagenes.map(({ imagen }, index) => (
                <a
                    href={imagen}
                    class="rounded-md shadow-xl shadow-UrubambaPrimaryColor/10 hover:shadow-2xl hover:shadow-UrubambaPrimaryColor/45 transition-all overflow-hidden hover:scale-105"
                    target="_blank"
                    data-cropped="true"
                    data-pswp-width="920"
                    data-pswp-height="580"
                >
                    <img
                        src={imagen}
                        alt={`Imagen ${index + 1}`}
                        class="object-cover h-full"
                    />
                </a>
            ))
        }
    </div>
</div>
<script>
    import PhotoSwipeLightbox from "photoswipe/lightbox";
    const lightbox = new PhotoSwipeLightbox({
        gallery: "#gallery",
        children: "a",
        pswpModule: () => import("photoswipe"),
    });
    lightbox.init();
</script>
